.eye-visual-box{
    width:500px;
    height: 500px;
    background-color: tan;
    border-radius: 45px;
}

.eyebrow {
    width: 100%;
    height: 25%;
    background-color: blue;
    -webkit-mask-image: url("../images/eyebrow.svg");
}

.eyeline {
    width: 100%;
    height: 35%;
    background-color: beige;
    -webkit-mask-image: url("../images/eyeline.svg");
}