.select-section {
    margin: 25px;
    width: 550px;
}

.select-section > h2{
    padding: 15px;
    text-align: center;
}

.button-container {
    border-radius: 45px;
    display:grid;
    align-items: center;
    height: 550px;
    padding: 15px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.button-container > .btn {
    width: 150px;
    margin: 0 auto;
}

.section-label {
    width: 550px;
    text-align: center;
}