.look-section {
    margin: 25px;
}

.look-container{
    border-radius: 45px;
    display:flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    height: auto;
    min-height: 550px;
    padding: 15px;
    justify-content: center;
}

.look-section > h2 {
    padding: 15px;
    text-align: center;
}

p{
    color:black;
}

h6{
    height: 20px;
    font-style: italic;
}

.look-label{
    width: 500px;
    text-align: center;
}

hr{
    color:black;
}