@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');


#wheel {            
    position: relative;
    width: 550px;
}

#canvas{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}